:root {
  a {
    text-decoration: none;
  }
}

body {
  background: aliceblue;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}

.card {
  border: 0;
  .card-body {
    padding: 18px;
    border: 1px solid #d2d2d2;
    border-top: 0;
    box-shadow: var(--bs-box-shadow-sm);
  }
}

/* overload boostrap tab style */
.nav-tabs {
  .nav-link {
    border-top: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    color: grey;
    background-color: whitesmoke;
    a {
      text-decoration: none;
    }

    &:hover {
      color: #4682b4;
    }
  }
}

.tab-content {
  background-color: white;
  margin-top: -1px;
  border: 1px solid #ddd !important;
  box-shadow: var(--bs-box-shadow);
  padding: 1.5em;
}
