#cellRepetitions {
  display: flex;

  padding: 0rem .275rem;
  input:not(:last-child) {
    margin-right: 0.1em;
  }
}

.controls-group {
  align-items: center;
  margin-bottom: 1rem;
}

#cameraControls {
  button {
    width: 40px;
    margin-right: 0.25em;
  }
}
