:root {
  .card-header {
    text-align: center;
  }

  @media (max-width: 1400px) {
    .visualizer-panel:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }

  #cellRepetitions {
    display: flex;

    input:not(:last-child) {
      margin-right: 1em;
    }
  }

  #cameraControls {
    button {
      width: 40px;
      margin-right: 0.25em;
    }
  }

  #amplitudeControls {
    margin: 1em 0;
  }

  .overlay-div {
    display: table;
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    -moz-user-select: none;

    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      line-height: normal;
      font-size: 24px;
      font-weight: 700;
      color: rgb(80, 80, 80);
    }
  }
}

.fade-error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  color: rgba(255, 0, 0, 0.95);
  font-size: 24px;
  background: rgba(255, 187, 187, 0.5);
  padding: 4px 8px;
  border: solid rgba(255, 0, 0, 0.95) 1.5px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  /* Fade-out animation */
  animation: fadeOutInline 3s forwards;
}

@keyframes fadeOutInline {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
